<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>splendish iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>splendish macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840CC1B121B5EAAE00B42FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840CC1BF21B5EAC100B42FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B48A5A21A619330051CFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B48A6C21A619330051CFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
